*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #d6d4d4;
    background: linear-gradient(
        90deg,
        rgba(214, 212, 212, 1) 0%,
        rgba(152, 152, 156, 1) 35%,
        rgba(139, 140, 140, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 350px;
    height: 370px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.calendar header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
